@import url('https://fonts.cdnfonts.com/css/menlo');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

p {
    font-size: 1em;
    font-family: 'Menlo', sans-serif;
    line-height: 4.2vh;
}

#computerText {
    color: #02e35c;
}

input {
    color: white;
    background-color: black;
    font-family: 'Menlo', sans-serif;
    border: none;
    outline: none;
    width: 20vw;
}

br {
    display: block;
    content: "";
    margin-top: 30vh;
}

#popupOverlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#popupOverlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#popupBox1 {
    background: rgb(30, 28, 28);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 10vh;
    border-radius: 1em;
    text-align: center;
    max-width: 45vw;
}

#popupBox2 {
    background: rgb(30, 28, 28);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 10vh;
    border-radius: 1em;
    text-align: center;
    max-width: 30vw;
}

#popupBox1 button {
    margin-top: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    background-color: rgb(60, 59, 59);
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Menlo', sans-serif;
}

#popupBox1 button:hover {
    background-color: rgb(72, 71, 71);
}

#popupBox2 button {
    margin-top: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    background-color: rgb(60, 59, 59);
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Menlo', sans-serif;
}

#popupBox2 button:hover {
    background-color: rgb(72, 71, 71);
}